
<div class="fixed top-0 left-0 h-screen w-16 m-0  flex flex-col bg-blue-600 text-white shadow-lg ">
  <a [routerLink]="" class="mx-auto my-8 flex justify-center items-center h-12 w-12 shadow-xl hover:bg-blue-400 hover:rounded-xl hover:shadow-lg transition-all"><i class=" fa-solid fa-sitemap fa-2xl"></i></a>
  <a [routerLink]="" class="mx-auto my-8 flex justify-center items-center h-12 w-12 shadow-xl hover:bg-blue-400 hover:rounded-xl hover:shadow-lg transition-all"><i class="fa-solid fa-cube fa-2xl "></i></a>
  <a [routerLink]="" class="mx-auto my-8 flex justify-center items-center h-12 w-12 shadow-xl hover:bg-blue-400 hover:rounded-xl hover:shadow-lg transition-all"><i class="fa-solid fa-shield-halved fa-2xl"></i></a>
  <a [routerLink]="" class="mx-auto my-8 flex justify-center items-center h-12 w-12 shadow-xl hover:bg-blue-400 hover:rounded-xl hover:shadow-lg transition-all"><i class="fa-solid fa-cubes fa-2xl  "></i></a>
</div>
