<nav class="bg-white border-b border-gray-300 h-16">
  <div class="flex justify-between items-center p-1 px-9">
    <!-- Aumenté el padding aquí para añadir espacio en los lados -->
    <!-- Ícono de Menú -->
    <button id="menuBtn">
      <i class="fas fa-bars text-black text-lg"></i>
    </button>

    <!--     Logo -->
    <div class="ml-1 flex justify-center items-center gap-1.5">
      <img src="https://flowbite.com/docs/images/logo.svg" alt="logo" class="h-10 w-18 ">
      <p class="font-bold text-xl">Aftas</p>
    </div>

    <!-- Ícono de Notificación y Perfil -->
    <div class="space-x-4">
      <button>
        <i class="fas fa-bell text-black text-lg"></i>
      </button>

      <!-- Botón de Perfil -->
      <button>
        <i class="fas fa-user text-black text-lg"></i>
      </button>
    </div>
  </div>
</nav>
